<nav-component></nav-component>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			<dashboard-component></dashboard-component>
		</div>
		<div class="col-sm-10">
			<div class="well">
				<h2>NannyNotes</h2>
				<br>
				<h3>Facilitating Parent-Nanny Communication</h3>
				<br>
				<h5>A Skill Distillery Group Project, January 2017</h5>
				<br>
				<h4>Group Members</h4>
				<br>
				<ul>
					<li>Sarah Passantino</li>
					<li>Michael Williams</li>
					<li>Joshua Bone</li>
				</ul>
				<table>
					<h3>Technologies Used</h3>
					<thead>
						<tr>
							<th><h4>Backend</h4></th>
							<th><h4>Frontend</h4></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<ul>
									<li>Java</li>
									<li>Spring REST</li>
									<li>JPA</li>
									<li>SQL</li>
								</ul>
							</td>
							<td>
								<ul>
									<li>Javascript</li>
									<li>Angularjs</li>
									<li>HTML5/CSS</li>
									<li>Bootstrap</li>
								</ul></td>
						</tr>
					</tbody>
				</table>
				<h4>Description</h4>
				<br>
				<h5>NannyNotes is a full-stack web application designed to
					facilitate communication and planning between parents and nannies.
					A user can sign in as either a parent or a nanny. A parent can
					create a new household, while a nanny can join a household by
					invite. Each household view will show the names and ages of the
					children as well as a calendar view that allows the parent to
					design a daily schedule for the nanny to implement. The nanny can
					then document alongside the schedule the actual events of the day.</h5>
			</div>
		</div>
	</div>
</div>
