<nav-component></nav-component>
<div class="container-fluid">
    <div class="row is-table-row">
        <!-- main right col -->
        <div class="col-sm-4">
            <div class="well my-fixed-height">
                <h3>Households you belong to: </h3>
                <div class="list-group my-scroll-div">
                    <ul>
                        <li class="list-group-item my-list-group-item" ng-repeat="household in $ctrl.user.households">
                            <button class="btn btn-primary" ng-click="$ctrl.selectHousehold(household)"><span class="glyphicon glyphicon-zoom-in"></span></button> {{household.name}}
                            <button class="btn btn-danger pull-right" ng-click="$ctrl.removeHouseholdFromUserList(household)"><span class="glyphicon glyphicon-remove"></span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <!-- <div id="main"> -->
        <!-- <p><a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-2x"></i></a></p> -->

        <div class="col-sm-4">
            <div class="well my-fixed-height">
                <h3>Add An Existing Household To Your List</h3>
                <select id="sol-household" name="sol-household">
                  <option ng-repeat="household in $ctrl.households | filter:$ctrl.notInUserHHs" value="{{household.id}}" >{{household.name}}</option>
                </select>
                <button class="btn btn-primary" ng-click="$ctrl.addHouseholdToUserList()">Add</button>
            </div>
        </div>
        <hr>
        <div class="col-sm-4">
            <div class="well my-fixed-height">
                <h3> Create a New Household </h3>
                <form>
                  <input type="text" class="form-control" ng-model="$ctrl.name" placeholder="Household Name..."></input>
                  <input type="submit" class="btn btn-primary" ng-click="$ctrl.addHousehold($ctrl.name)" value="Create"></input>
                </form>
            </div>
        </div>
    </div>

    <img src="http://i.imgur.com/J71Xamn.jpg" style="width:10%; display:block; margin:auto; "/>
    <!-- </div> -->
</div>

<!-- <div class="column col-sm-9 col-xs-11" id="main">
    <p><a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-2x"></i></a></p>
    <p>
        <input type="text" ng-model="$ctrl.name"></input>
        <button type="submit" ng-click="$ctrl.addHousehold($ctrl.name)">Add Household</button>

        <table class="householdview" ng-repeat="household in $ctrl.households">
            <tr class="householdview">
                <th class="householdview">
                    <h3>Household </h3></th>
                <th class="householdview">
                    <h3>Parents </h3></th>
                <th class="householdview">
                    <h3>Parent Notes </h3></th>
                <th class="householdview">
                    <h3>Guardians </h3></th>
                <th class="householdview">
                    <h3>Guardian Notes </h3></th>
                <th class="householdview">
                    <h3>Children </h3></th>
            </tr>
            <tr class="householdview">
                <td class="householdview">{{household.name}}</td>
                <td class="householdview">{{household.users}}</td>
                <td class="householdview">{{household.parentNotes}}</td>
                <td class="householdview">{{household.users}}</td>
                <td class="householdview">{{household.nannyNotes}}</td>
                <td class="householdview">{{household.children}}</td>
            </tr>
        </table>
    </p>
</div> -->
